extends layout

block content
  h1= title
  p Welcome to #{title}
  for message in messages 
    br
    p= message.user
    p= message.text
    p= message.added
  br 
  br
  a(href="new"): button(type="button") create new post   
   

    
    
